Set and Methods

In [1]:
my_set = {"apple", "banana", "cherry"}
print(my_set)

{'apple', 'cherry', 'banana'}

In [2]:
#Duplicate values not allowed
my_set = {"apple", "banana", "cherry", "apple"}
print(my_set)

{'apple', 'cherry', 'banana'}

In [3]:
#True and 1 is considered the same value
my_set = {"apple", "banana", "cherry", True, 1, 2}
print(my_set)

{'apple', True, 2, 'banana', 'cherry'}

In [4]:
len(my_set)

5

In [5]:
set = {"abc", 23, True, 30, "male"}
print(set)

{True, 23, 'abc', 30, 'male'}

In [6]:
my_set = {"apple", "banana", "cherry"}
print(type(my_set))

<class 'set'>

In [2]:
#Access set items
my_set = {"apple", "banana", "cherry"}
print("banana" in my_set)

True

In [3]:
#Add set items
my_set = {"apple", "banana", "cherry"}
my_set.add("orange")
print(my_set)

{'apple', 'orange', 'cherry', 'banana'}

In [4]:
#Remove set items
my_set = {"apple", "banana", "cherry"}
my_set.remove("banana")
print(my_set)

{'apple', 'cherry'}

In [5]:
my_set = {"apple", "banana", "cherry"}
my_set.discard("banana")
print(my_set)

{'apple', 'cherry'}

In [6]:
my_set = {"apple", "banana", "cherry"}
x = my_set.pop()
print(x)
print(my_set)

apple
{'cherry', 'banana'}

In [7]:
thisset = {"apple", "banana", "cherry"}
my_set.clear()
print(my_set)

set()

In [11]:
#Join sets
set1 = {"p", "q", "r"}
set2 = {6, 5, 4}
set3 = set1.union(set2)
print(set3)

{'q', 'p', 4, 5, 6, 'r'}

In [9]:
set1 = {"p", "q", "r"}
set2 = {6, 5, 4}
set1.update(set2)
print(set1)

{'q', 'p', 4, 5, 6, 'r'}

In [10]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [12]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [14]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

{'banana', 'cherry'}

In [15]:
set1 = {"apple", "banana" , "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

In [16]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'cherry', 'microsoft', 'banana', 'google'}

In [17]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print(set1)

{'cherry', 'microsoft', 'banana', 'google'}