# Selection:

In [2]:
#DataFrame col,row selection:

In [3]:
#Column Selection Using loc
import pandas as pd
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}
df = pd.DataFrame(data)
selected_columns_loc = df.loc[:, ['A', 'C']]
print("Selected Columns using loc:")
print(selected_columns_loc)

Selected Columns using loc:
   A   C
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15

In [4]:
#Column Selection Using iloc
import pandas as pd
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}
df = pd.DataFrame(data)
selected_columns_iloc = df.iloc[:, [0, 2]]  # Selecting first and third columns
print("Selected Columns using iloc:")
print(selected_columns_iloc)

Selected Columns using iloc:
   A   C
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15

In [8]:
#Row Selection Using loc
import pandas as pd
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}
df = pd.DataFrame(data)
selected_rows_loc = df.loc[[0, 2, 4], :]
print("Selected Rows using loc:")
print(selected_rows_loc)

Selected Rows using loc:
   A   B   C
0  1   6  11
2  3   8  13
4  5  10  15

In [6]:
#Row Selection Using iloc
import pandas as pd
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}
df = pd.DataFrame(data)
selected_rows_iloc = df.iloc[[0, 2, 4], :]
print("Selected Rows using iloc:")
print(selected_rows_iloc)

Selected Rows using iloc:
   A   B   C
0  1   6  11
2  3   8  13
4  5  10  15

In [9]:
#conditional seletion:

In [10]:
#Conditional Selection with Boolean Indexing
import pandas as pd
data = {'A': [10, 20, 30, 40, 50],
        'B': [5, 15, 25, 35, 45]}
df = pd.DataFrame(data)
condition = df['A'] > 25
selected_rows = df[condition]
print("Selected Rows where 'A' > 25:")
print(selected_rows)

Selected Rows where 'A' > 25:
    A   B
2  30  25
3  40  35
4  50  45

In [11]:
#Conditional Selection with query()
import pandas as pd
data = {'A': [10, 20, 30, 40, 50],
        'B': [5, 15, 25, 35, 45]}
df = pd.DataFrame(data)
selected_rows = df.query('A > 25')
print("Selected Rows where 'A' > 25:")
print(selected_rows)

Selected Rows where 'A' > 25:
    A   B
2  30  25
3  40  35
4  50  45

In [12]:
#Column add,delete,update:

In [15]:
#Adding, Deleting, and Updating Columns
import pandas as pd
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10]}
df = pd.DataFrame(data)

# Adding a new column
df['C'] = [11, 12, 13, 14, 15]
print("DataFrame after adding column 'C':")
print(df)

# Deleting a column
del df['B']
print("\nDataFrame after deleting column 'B':")
print(df)

# Updating a column
df['A'] = df['A'] * 2
print("\nDataFrame after updating column 'A' by multiplying by 2:")
print(df)

DataFrame after adding column 'C':
   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

DataFrame after deleting column 'B':
   A   C
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15

DataFrame after updating column 'A' by multiplying by 2:
    A   C
0   2  11
1   4  12
2   6  13
3   8  14
4  10  15

In [16]:
#index,remove index:

In [17]:
#Setting Index
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
df.set_index('Name', inplace=True)
print("DataFrame with 'Name' as index:")
print(df)

DataFrame with 'Name' as index:
         Age
Name
Alice     25
Bob       30
Charlie   35

In [18]:
#Removing Index
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
df.set_index('Name', inplace=True)
df.reset_index(drop=True, inplace=True)
print("DataFrame after removing index:")
print(df)

DataFrame after removing index:
   Age
0   25
1   30
2   35

In [19]:
#Operation(+,-,*,|)between two columns:

In [22]:
import pandas as pd
data = {'A': [10, 20, 30],
        'B': [5, 15, 25]}
df = pd.DataFrame(data)

#Addition (+) between Two Columns
result_addition = df['A'] + df['B']
print("Result of addition between columns 'A' and 'B':")
print(result_addition)

#Subtraction (-) between Two Columns
result_subtraction = df['A'] - df['B']
print("\nResult of subtraction between columns 'A' and 'B':")
print(result_subtraction)

#Multiplication (*) between Two Columns
result_multiplication = df['A'] * df['B']
print("\nResult of multiplication between columns 'A' and 'B':")
print(result_multiplication)

#Bitwise OR (|) between Two Columns
result_or = df['A'] | df['B']
print("\nResult of bitwise OR between columns 'A' and 'B':")
print(result_or)

Result of addition between columns 'A' and 'B':
0    15
1    35
2    55
dtype: int64

Result of subtraction between columns 'A' and 'B':
0    5
1    5
2    5
dtype: int64

Result of multiplication between columns 'A' and 'B':
0     50
1    300
2    750
dtype: int64

Result of bitwise OR between columns 'A' and 'B':
0    15
1    31
2    31
dtype: int64