For loop

In [1]:
#1.Iterating over a List
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [2]:
#2.Iterating over a Range
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
#3.Iterating over a String
for char in "Python":
    print(char)

P
y
t
h
o
n

In [4]:
#4.Iterating over a Tuple
coordinates = (3, 4)
for coord in coordinates:
    print(coord)

3
4

In [5]:
#5.Iterating over a Dictionary (Keys)
person = {"name": "Alice", "age": 30, "city": "New York"}
for key in person:
    print(key)

name
age
city

In [6]:
#6.Iterating over a Dictionary (Values)
person = {"name": "Alice", "age": 30, "city": "New York"}
for value in person.values():
    print(value)

Alice
30
New York

In [7]:
#7.Using Break Statement
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num == 3:
        break
    print(num)

1
2

In [8]:
#8.Nested for Loops
for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [9]:
#9.Looping over Multiple Lists
names = ["Alice", "Bob", "Charlie"]
ages = [30, 25, 35]
for name, age in zip(names, ages):
    print(name, age)

Alice 30
Bob 25
Charlie 35

In [11]:
#10.Iterating over a Set
colors = {"red", "green", "blue"}
for color in colors:
    print(color)

green
blue
red

#Basic Syntax:
for item in iterable:
    # code block to execute for each item
#Explanation:
#for: This keyword marks the beginning of the loop.
#item: This is a variable that will hold the current item in the iterable during each iteration.
#in: This keyword is used to specify the iterable you want to loop over.
#iterable: This is the sequence, collection, or any other object that supports iteration, such as a list, tuple, string, range, or dictionary.
#:(colon): It's used to denote the end of the for statement and the beginning of the code block that should be executed for each item.
#Indentation: The code block following the for statement must be indented. In Python, indentation is used to denote code blocks, so it's crucial to maintain proper indentation for the code to be interpreted correctly.