# Pandas Library

# Series:

In [2]:
#Create a simple Pandas Series from a list
import pandas as pd
a = [5,2,7]
myvar = pd.Series(a)
print(myvar)

0    5
1    2
2    7
dtype: int64

In [12]:
#Return the first value of the Series
import pandas as pd
a = [5,2,7]
myvar = pd.Series(a)
print(myvar[0])

5

In [17]:
#Create your own labels
import pandas as pd
a = [5,2,7]
myvar = pd.Series(a, index = ["A", "B", "C"])
print(myvar)

A    5
B    2
C    7
dtype: int64

In [13]:
#Return the value of "C"
import pandas as pd
a = [5,2,7]
myvar = pd.Series(a, index = ["A", "B", "C"])
print(myvar["C"])

7

In [9]:
#Create a simple Pandas Series from a dictionary
import pandas as pd
calories =  {"day1": 310, "day2": 270, "day3": 280}
myvar = pd.Series(calories)
print(myvar)

day1    310
day2    270
day3    280
dtype: int64

In [10]:
#Create a Series using only data from "day2" and "day3"
import pandas as pd
calories = {"day1": 310, "day2": 270, "day3": 280}
myvar = pd.Series(calories, index = ["day2", "day3"])
print(myvar)

day2    270
day3    280
dtype: int64

In [14]:
#Create a DataFrame from two Series
import pandas as pd
data = {
  "calories": [310, 270, 280],
  "duration": [40, 30, 35]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       310        40
1       270        30
2       280        35

In [20]:
#Adding Two Series Element-wise
import pandas as pd
series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series([10, 20, 30, 40, 50])
result_addition = series1 + series2
print("Adding two series element-wise:")
print(result_addition)

Adding two series element-wise:
0    11
1    22
2    33
3    44
4    55
dtype: int64

In [21]:
#Multiplying Each Element of a Series by a Scalar
import pandas as pd
series = pd.Series([1, 2, 3, 4, 5])
result_multiplication = series * 25
print("Multiplying each element by 10:")
print(result_multiplication)

Multiplying each element by 10:
0     25
1     50
2     75
3    100
4    125
dtype: int64

In [22]:
#Filtering Elements Based on a Condition
import pandas as pd
series = pd.Series([10, 20, 30, 40, 50])
result_filter = series[series > 10]
print("Filtering elements greater than 10:")
print(result_filter)

Filtering elements greater than 10:
1    20
2    30
3    40
4    50
dtype: int64

In [23]:
#Filtering Elements Within a Range
import pandas as pd
series = pd.Series([10, 15, 20, 25, 30])
result_filter = series[(series >= 15) & (series <= 25)]
print("Filtering elements within the range [15, 25]:")
print(result_filter)

Filtering elements within the range [15, 25]:
1    15
2    20
3    25
dtype: int64

In [25]:
#Filling Missing Values with a Specific Value
import pandas as pd
import numpy as np
series_with_nan = pd.Series([1, 2, np.nan, 4, np.nan])
result_filled = series_with_nan.fillna(5)
print("Filling missing values with 5:")
print(result_filled)

Filling missing values with 5:
0    1.0
1    2.0
2    5.0
3    4.0
4    5.0
dtype: float64

In [26]:
#Sorting series by Index
import pandas as pd
series = pd.Series([3, 1, 4, 1, 5], index=['e', 'f', 'g', 'h', 'i'])
sorted_series = series.sort_index()
print("Sorted series by index:")
print(sorted_series)

Sorted series by index:
e    3
f    1
g    4
h    1
i    5
dtype: int64

In [27]:
#Converting String to Lowercase
import pandas as pd
series = pd.Series(['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry'])
lowercase_series = series.str.lower()
print("Strings converted to lowercase:")
print(lowercase_series)

Strings converted to lowercase:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object

In [29]:
#Concatenating Two Series Horizontally
import pandas as pd
series1 = pd.Series([1, 2, 3])
series2 = pd.Series([4, 5, 6])
concatenated_series = pd.concat([series1, series2])
print("Concatenated series horizontally:")
print(concatenated_series)

Concatenated series horizontally:
0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64